# Angular
/dist/
/tmp/
/out-tsc/
/bazel-out
.angular

# Node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.vscode-test

# Visual Studio Code
.vscode/
*.vsix

# Mac files
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Testing
/coverage/
/karma.conf.js

# Miscellaneous
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
Thumbs.db