.access-container {
    height: 100vh;
    background-image: url('../../../assets/login-fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}