footer {
    background: lightgray;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 25px;
}

.footer-content > p {
    margin: 0;
    padding: 0;
}

hr {
    border-top: 1px solid black !important;
    margin: 0;
    margin-right: 5%;
    margin-left: 5%;
}
