<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >Recetas Caseras</a>
    <img [src]="logoUrl" alt="nav-logo" width="40" height="40" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recetas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Listado</a></li>
            <li><a class="dropdown-item" href="#">Nueva Receta</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">Admin</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-success" type="submit">Acceder</button>
        </li>
      </ul>
    </div>
  </div>
</nav>